@import "../../style/color";
.y-tooltip {
    display: inline-block;
    .y-tooltip-html {
    }
}
.y-tooltips {
    position: absolute;
    &.blue {
        .y-tooltips-box {
            background: darken(fade(@o-blue, 70%),16%);
            color: #fff;
        }
        .y-tooltips-delta {
            border-bottom: 4px solid darken(fade(@o-blue, 70%),16%);
        }
    }
    &.dark {
        .y-tooltips-box {
            background: fade(#000,65%);
            color: #fff;
        }
        .y-tooltips-delta {
            border-bottom: 4px solid  fade(#000,65%);
        }
    }
    &.white {
        .y-tooltips-box {
            background: #fff;
            color: #666;
            border: 1px solid #e6e6e6;
            box-shadow: 0 0 20px 0px #ccc;
        }
        .y-tooltips-delta {
            border-bottom: 4px solid  #e6e6e6;
            &:before {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                height: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-bottom: 4px solid  #fff;
                margin-left: -4px;
                margin-top: 1px;
            }
        }
    }
    .y-tooltips-box{
        padding: 4px 6px;
        border-radius: 4px;
        &.slot {
            padding: 6px 12px;
        }
    }
    .y-tooltips-delta{
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
    }
    &.bottom {
        padding-top: 4px;;
        transform: translate(-50%,0%);
        .y-tooltips-delta {
            margin-left: -4px;
            top: 0;
            left: 50%;
        }
    }
    &.bottom-left {
        padding-top: 4px;
        transform: translate(0%,0%);
        .y-tooltips-delta {
            margin-left: -4px;
            top: 0;
            left: 15px;
        }
    }
    &.bottom-right {
        padding-top: 4px;
        transform: translate(-100%,0%);
        .y-tooltips-delta {
            margin-left: -5px;
            top: 0;
            right: 15px;
        }
    }
    &.top {
        padding-bottom: 4px;
        transform: translate(-50%,-100%);
        .y-tooltips-delta {
            transform: rotate(180deg);
            margin-left: -4px;
            bottom: 0;
            left: 50%;
        }
    }
    &.top-left {
        padding-bottom: 4px;
        transform: translate(0%,-100%);
        .y-tooltips-delta {
            transform: rotate(180deg);
            margin-left: -4px;
            bottom: 0;
            left: 15px;
        }
    }
    &.top-right {
        padding-bottom: 4px;
        transform: translate(-100%,-100%);
        .y-tooltips-delta {
            transform: rotate(180deg);
            margin-left: -4px;
            bottom: 0;
            right: 15px;
        }
    }
    &.left {
        padding-left: 4px;
        transform: translate(0%,-50%);
        .y-tooltips-delta {
            transform: rotate(-90deg);
            margin-top: -2px;
            top: 50%;
            left: -2px;
        }
    }
    &.left-top {
        padding-left: 4px;
        transform: translate(0%,0%);
        .y-tooltips-delta {
            transform: rotate(-90deg);
            margin-top: -2px;
            top: 10px;
            left: -2px;
        }
    }
    &.left-bottom {
        padding-left: 4px;
        transform: translate(0%,-100%);
        .y-tooltips-delta {
            transform: rotate(-90deg);
            margin-top: -2px;
            bottom: 10px;
            left: -2px;
        }
    }
    &.right {
        padding-right: 4px;
        transform: translate(-100%,-50%);
        .y-tooltips-delta {
            transform: rotate(90deg);
            margin-top: -2px;
            top: 50%;
            right: -2px;
        }
    }
    &.right-top {
        padding-right: 4px;
        transform: translate(-100%,0%);
        .y-tooltips-delta {
            transform: rotate(90deg);
            margin-top: -2px;
            top: 10px;
            right: -2px;
        }
    }
    &.right-bottom {
        padding-right: 4px;
        transform: translate(-100%,-100%);
        .y-tooltips-delta {
            transform: rotate(90deg);
            margin-top: -2px;
            bottom: 10px;
            right: -2px;
        }
    }
}
