@import "../../style/color";
.y-btn {
    position: relative;
    transition: 0.3s all;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    background: transparent;
    padding: 4px 12px;
    cursor: pointer;
    text-decoration: none;
    font-family: "Open Sans","Helvetica Neue",Helvetica,"PingFang SC","Microsoft Yahei","WenQuanYi Micro Hei","微软雅黑",Arial,Verdana,sans-serif !important;
    outline: none;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}
.y-btn-clicked:after {
    content: "";
    transition: .3s all;
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    z-index: 0;
    border: 0px solid @blue;
    opacity: .4;
    border-radius: inherit;
    display: block;
    animation: buttonEffect 0.36s ease-out forwards;
}
.y-btn.lg {
    padding: 4px 15px 5px;
    font-size: 14px;
    border-radius: 6px;
}
.y-btn.sm {
    padding: 1px 7px;
    font-size: 12px;
    border-radius: 4px;
}
.y-btn.disabled {
    cursor: not-allowed;
    color: #ccc;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
    &:hover {
        color: #ccc;
        background-color: #f7f7f7;
        border-color: #d9d9d9;
    }
    &:active {
        color: #ccc;
        background-color: #f7f7f7;
        border-color: #d9d9d9;
        box-shadow: none;
    }
    &:focus {
        color: #ccc;
        background-color: #f7f7f7;
        border-color: #d9d9d9;
    }

}

.y-btn.loading {
    padding-left: 29px;
    pointer-events: none;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 14px;
        margin-top: -6px;
        animation: loading 1s infinite linear;
    }
}

@keyframes loading{
    0%{
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }to{
        -webkit-transform-origin:50% 50%;
        transform-origin:50% 50%;
        -webkit-transform:rotate(1turn);
        transform:rotate(1turn)
    }
}

@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -6px;
    left: -6px;
    bottom: -6px;
    right: -6px;
    border-width: 6px;
  }
}




.btn-primarys(@Color, @FColor){
    color: @FColor;
    background: @Color;
    border-color: transparent;
    &:hover {
        background: lighten(@Color, 8%);
    }
    &:active {
        background: darken(@Color, 8%);
    }
}
.btn-ghosts(@Color, @FColor, @HFColor:@gray){
    border-color: @Color ;
    color: @FColor;
    &:hover{
        border-color: lighten(@Color, 10%) ;
    }
    &:active {
        border-color: darken(@Color, 8%);
        color: darken(@Color, 8%);
    }
}


.btn-primary {
    border-style: solid;
    border-width: 1px;
}
.btn-primary {
    .btn-primarys(@blue, #fff);
}
.btn-primary.green {
    .btn-primarys(@green, #fff);
}
.btn-primary.yellow {
    .btn-primarys(@yellow, #fff);
}
.btn-primary.red {
    .btn-primarys(@red, #fff);
}
.btn-primary.gray {
    .btn-primarys(@Border-C, #fff);
}


.btn-dashed {
    border-style: dashed;
    border-width: 1px;
}
.btn-ghost {
    border-style: solid;
    border-width: 1px;
}
.btn-ghost.gray, .btn-dashed.gray{
    .btn-ghosts(@Border-C, @gray);
}
.btn-ghost.blue, .btn-dashed.blue {
    .btn-ghosts(@blue, @blue, #fff);
}
.btn-ghost.green, .btn-dashed.green {
    .btn-ghosts(@green, @green, #fff);
}
.btn-ghost.yellow, .btn-dashed.yellow {
    .btn-ghosts(@yellow, @yellow, #fff);
}
.btn-ghost.red, .btn-dashed.red {
    .btn-ghosts(@red, @red, #fff);
}
