.y-select {
    width: 150px;
    .y-select-i {
        position: relative;
        .ion {
            cursor: pointer;
            transition: transform .3s;
            display: block;
            width: 24px;
            height: 24px;
            line-height: 24px;
            top: 50%;
            margin-top: -12px;
            right: 0;
            position: absolute;
            &.dr {
                transform-origin: 50% 50%; 
                transform: rotateZ(0deg);
                &.active {
                    transform: rotateZ(-180deg);
                }
            }
            &:before {
                display: block;
                text-align: center;
                font-size: 8px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -8px;
                margin-left: -9px;
                width: 18px;
                height: 18px;
                line-height: 18px;
            }
        }
    }
    .y-select-input {
        cursor: pointer;
        width: 100%;
        outline: none;
        border: 1px solid #ccc;
        padding: 6px 28px 6px 6px;
        border-radius: 4px;
        font-size: 14px;
        user-select: none;
        .default {
            color: #ccc;
            user-select: none;
        }
    }
}
.y-select-dropdown {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    li.y-select-item {
        transition: 
        transform .2s  cubic-bezier(.645,.045,.355,1), 
        opacity .2s  cubic-bezier(.645,.045,.355,1),
        background .2s  cubic-bezier(.645,.045,.355,1);
        padding: 6px;
        cursor: pointer;
        &.active {
            background: #f9f9f9 !important;
        }
        &:hover {
            background: #e4f8ff;
        }
        &.disabled {
            color: #ccc;
            cursor:not-allowed;
            &:hover {
                background: none;
            }
        }
    }
}
.y-select-enter-active, .y-select-leave-active {
    transform-origin:0% 0%;
    will-change: opacity;
    transition: transform .2s  cubic-bezier(.645,.045,.355,1), opacity .2s  cubic-bezier(.645,.045,.355,1);
}
.y-select-enter, .y-select-leave-active {
    opacity: 0;
    transform: scale3d(1,.8,1) !important;
}