@import "../../style/color";
.y-alert {
    position: relative;
    padding: 8px 8px 8px 16px;
    border-radius: 6px;
    color: #666;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    transition: all .3s ease;
    >svg {
        margin-right: 6px;
    }
    >.y-alert-c {
        padding-right: 40px;
        .y-title {
            font-size: 18px;
            font-weight: 700;
            padding: 6px 0;
        }
        span {
            color: @gray;
        }
    }
    .y-alert-close {
        position: absolute;
        top: 50%;
        right: 0;
        margin-right: 12px;
        margin-top: -9px;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
    }
}
.y-alert-info {
    .alert-color(lighten(@blue, 35%));
    svg {
        path {
            fill: @blue;
        }
    }
    .y-alert-close {
        color: @blue;
    }
}
.y-alert-success {
    .alert-color(lighten(@green, 28%));
    svg {
        path {
            fill: @green;
        }
    }
    .y-alert-close {
        color: @green;
    }
}
.y-alert-warning {
    .alert-color(lighten(@yellow, 25%));
    svg {
        path {
            fill: @yellow;
        }
    }
    .y-alert-close {
        color: @yellow;
    }
}
.y-alert-danger {
    .alert-color(lighten(@o-red, 40%));
    svg {
        path {
            fill: @o-red;
        }
    }
    .y-alert-close {
        color: @o-red;
    }
}
.alert-color(@color){
    background: @color;
    border: 1px darken(@color, 10%) solid;
}
/* 必需 */
.alert-op-enter-active, .alert-op-leave-active {
    opacity: 0;
}
